body {
    --dotSize: 1px;
    background-color: #D6E9FC;
	background-image: radial-gradient(circle at center, rgba(163, 181, 199, 0.15) var(--dotSize), transparent 0);
	background-size: 0.3rem 0.3rem;
	background-repeat: round;
	background-position: center;
    color: #342200;
    margin: 0;
    padding: 0;
    font-family: 'Fira Mono', monospace;
}
/* #373434 */

#floatright {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #342200;
    font-size: 12px;
    background-color: #e0e0e0;
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
    border: 2px #180f00;
    border-style: outset; 
    cursor: pointer;
    background-image: radial-gradient(circle at center, rgba(163, 181, 199, 0.35) var(--dotSize), transparent 0);
    background-size: 0.2rem 0.2rem;
    background-repeat: round;
    background-position: center;
}


.outer {
  display: table;
  position: absolute;
  top: -50px;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.close-btn {
    position: absolute;
    top: -4px;
    left: 5px;
    font-size: 25px;
    color: #342200; 
    cursor: pointer; 
    transition: color 0.2s ease-in-out;
}

.close-btn:hover {
    color: #9d59b8;
}

.content-box {
    color: #342200;
    border: 2px #180f00;
    border-style: outset; 
    /* border-radius: 5px; */
    background-color: rgb(216, 214, 213);
    padding: 5px;    
    box-shadow: 5px 5px #342200;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
      /* scrollbar-color: red orange; */
  scrollbar-width: thin;
  scrollbar-base-color: #d71e06;
  scrollbar-track-color: #d71e06;
}

.image-box {
    border: 2px #180f00;
    border-style: outset;
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 450px;
    height: 300px;
    background-color: #AFCFEF;
    margin: 0 auto;
}

.text-box {
    border: 2px #180f00;
    border-style: outset;
    /* border-radius: 5px; */
    padding: 2.5px;
    background-color: #e1e8ee;
    margin: 0 auto;
    font-size: 13px;
}

ul#nav_links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: center;
  font-size: 12px;
}

ul#nav_links li a {
  display: flex; 
  width: 120px;
  height: 60px;
  border: 2px #180f00;
  border-style: outset;
  align-items: center; 
  justify-content: center;
  text-align: center;
  background-color: #e0e0e0;
  color: #342200;
  text-decoration: none;
  border-left: 1px solid #ccc;
  overflow: hidden;
}

ul#nav_links li:first-child a {
    border-left: #342200;
    border-style: outset;
}
ul#nav_links li:last-child a {
    border-right: #342200;
    border-style: outset;
    background-color: rgb(168, 178, 174);
}

ul#nav_links li a:hover {
  background-color: #d1d1d1;
  cursor: pointer;
  background-image: radial-gradient(circle at center, rgba(163, 181, 199, 0.35) var(--dotSize), transparent 0);
  background-size: 0.2rem 0.2rem;
  background-repeat: round;
  background-position: center;
}

ul#nav_links li:last-child a:hover {
  background-color: rgb(139, 151, 146);
  cursor: pointer;
  background-image: radial-gradient(circle at center, rgba(163, 181, 199, 0.35) var(--dotSize), transparent 0);
  background-size: 0.2rem 0.2rem;
  background-repeat: round;
  background-position: center;
}

#myDraggableDiv {
    position: absolute;
    cursor: grab;
}
#myDraggableDivHeader {
    cursor: move;
}

/* --- Files and Folders --- */
.file-icon {
    width: 60px;
    height: 70px;
    float: right;
    margin-left: 10px;
}

.file-icon:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.folder-icon {
    width: 100px;
    height: 75px;
    float: right;
    margin-left: 10px;
}

.folder-icon:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

/* --- Separator --- */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .5em;
}

.separator:not(:empty)::after {
  margin-left: .5em;
}

/* --- About Me Styling --- */
.overlay {
  position: absolute;
  top: 50px;
  left: 50px;
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
   cursor: pointer;
  width: 450px;
  height: 550px;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  background: rgb(216, 214, 213);
  position: absolute;
  transition: all 100ms ease-in-out;
  border: 2px solid rgb(47, 41, 41);
  box-sizing: border-box;
  overflow: auto;
}

.popup::-webkit-scrollbar {
    width: 12px;
}

.popup::-webkit-scrollbar-track {
  background-image: radial-gradient(circle at center, #342200 var(--dotSize), transparent 0);
  background-size: 0.3rem 0.3rem;
  background-repeat: round;
  background-position: center;
}

.popup::-webkit-scrollbar-thumb {
    background: #e1e8ee;
    border: 2px solid #180f00;
}

/* --- Talk Styling --- */
.talk-overlay {
  position: absolute;
  top: 85px;
  right: 200px;
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
   cursor: pointer;
  width: 400px;
  height: 400px;
}

.talk-overlay:target {
  visibility: visible;
  opacity: 1;
}

.talk-popup {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  background: #ffc067;
  position: absolute;
  transition: all 100ms ease-in-out;
  border: 2px #180f00;
  border-style: outset; 
  box-sizing: border-box;
  overflow: auto; 
}

.talk-item {
    display: flex;
    padding: 0px;
    margin: 0 auto;
    font-size: 13px;
    margin-bottom: 10px;
}
/* --- Research Styling --- */
.research-overlay {
  position: absolute;
  top: 85px;
  right: 120px;
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
   cursor: pointer;
  width: 400px;
  height: 550px;
}

.research-overlay:target {
  visibility: visible;
  opacity: 1;
}

.research-popup {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  background: #c9e6c0;
  position: absolute;
  transition: all 100ms ease-in-out;
  border: 2px #180f00;
  border-style: outset; 
  box-sizing: border-box; 
  overflow: auto;
}

.research-text-box {
    padding: 2.5px;
    margin: 0 auto;
    font-size: 13px;
}

.research-popup::-webkit-scrollbar {
    width: 12px;
}

.research-popup::-webkit-scrollbar-track {
  background-image: radial-gradient(circle at center, #342200 var(--dotSize), transparent 0);
  background-size: 0.3rem 0.3rem;
  background-repeat: round;
  background-position: center;
}

.research-popup::-webkit-scrollbar-thumb {
    background: #e1e8ee;
    border: 2px solid #180f00;
}
.research-item {
    display: flex;
    padding: 0px;
    margin: 0 auto;
    font-size: 13px;
    margin-bottom: 10px;
}

/* ---  Coding Styling --- */

.coding-overlay {
  position: absolute;
  top: 75px;
  left: 25px;
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
   cursor: pointer;
  width: 600px;
  height: 550px;
}

.coding-overlay:target {
  visibility: visible;
  opacity: 1;
}

.coding-popup {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  background: rosybrown;
    background-image: linear-gradient(45deg, rgba(52, 34,0, 0.05) 25%, transparent 25%, transparent 75%, rgba(52, 34,0, 0.05) 75%, rgba(52, 34,0, 0.05) 100%),
                      linear-gradient(45deg, rgba(52, 34,0, 0.05) 25%, transparent 25%, transparent 75%, rgba(52, 34,0, 0.05) 75%, rgba(52, 34,0, 0.05) 100%);
    background-size: 0.6rem 0.6rem;
    background-position: 0 0, 0.3rem 0.3rem;
  position: absolute;
  transition: all 100ms ease-in-out;
  border: 2px rgb(24, 15, 0);
  border-style: outset; 
  box-sizing: border-box; 
  overflow: auto;
}

.coding-text-box {
    padding: 2.5px;
    margin: 0 auto;
    font-size: 13px;
}

.coding-item {
    display: flex;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 2.5px;
    margin: 0 auto;
    font-size: 13px;
    margin-bottom: 10px;
    background: rosybrown;
    border: 2px #180f00;
    border-style: outset; 
}

.coding-popup::-webkit-scrollbar {
    width: 12px;
}

.coding-popup::-webkit-scrollbar-track {
  background-image: radial-gradient(circle at center, #342200 var(--dotSize), transparent 0);
  background-size: 0.3rem 0.3rem;
  background-repeat: round;
  background-position: center;
}

.coding-popup::-webkit-scrollbar-thumb {
    background: #e1e8ee;
    border: 2px solid #180f00;
}

/* --- Poster Styling --- */

.poster-overlay {
  position: absolute;
  bottom: 75px;
  left: 25px;
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
   cursor: pointer;
  width: 550px;
  height: 400px;
}

.poster-overlay:target {
  visibility: visible;
  opacity: 1;
}

.poster-popup {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  background: rgb(216, 214, 213);
  position: absolute;
  transition: all 100ms ease-in-out;
  border: 2px rgb(24, 15, 0);
  border-style: outset; 
  box-sizing: border-box; 
  overflow: auto;
}

.poster-text-box {
    padding: 2.5px;
    margin: 0 auto;
    font-size: 13px;

    border: 2px #180f00;
    border-style: outset;
    padding: 2.5px;
    background-color: #e1e8ee;
    margin: 0 auto;
    font-size: 13px;
}

.poster-item {
    display: flex;
    padding: 0px;
    margin: 0 auto;
    font-size: 13px;
    margin-bottom: 10px;
}

.poster-icon {
    width: 70px;
    height: 100px;
    float: right;
    margin-left: 50px;
}

.poster-icon:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.poster-popup::-webkit-scrollbar {
    width: 12px;
}

.poster-popup::-webkit-scrollbar-track {
  background-image: radial-gradient(circle at center, #342200 var(--dotSize), transparent 0);
  background-size: 0.3rem 0.3rem;
  background-repeat: round;
  background-position: center;
}

.poster-popup::-webkit-scrollbar-thumb {
    background: #e1e8ee;
    border: 2px solid #180f00;
}

/* --- News Styling --- */
.news-overlay {
  position: absolute;
  bottom: 450px;
  left: 120px;
  transition: opacity 100ms;
  /* visibility: hidden; */
  /* opacity: 0; */
   cursor: pointer;
  width: 400px;
  height: 200px;
}

.news-overlay:target {
  visibility: visible;
  opacity: 1;
}

.news-popup {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  /* background: #d0b363; */
  background: #feca40;
  position: absolute;
  transition: all 100ms ease-in-out;
  border: 2px #180f00;
  animation: colorChange-border 3s infinite ;
  border-style: solid;
  overflow: auto; 
}

.news-text-box {
    padding: 2.5px;
    margin: 0 auto;
    font-size: 13px;
}

.animated-link {
    animation: colorChange 3s infinite ;
}


@keyframes colorChange {
    0% {color: #342200;}
    50% {color: #f5b402;}
    100% {color: #342200;}
}

@keyframes colorChange-border {
    0% {border-color: #342200;}
    50% {border-color: #f5b402;}
    100% {border-color: #342200;}
}
